# Env
.env*
!.env.example

# Data
data/

# Node
node_modules/
**/dist/

# Sprites
frontend/src/assets/spritesheet*.png
frontend/src/assets/grey-spritesheet*.png
frontend/src/assets/spritesheet*.json
scripts/python/**/*.png

# Protobuf
backend/gen/proto/
frontend/src/gen/

# Misc
.claude
dash
